apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.ingress.name }}
  namespace: {{ .Values.namespace }}
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    # THE KEY: This name must be the same across all Ingresses sharing the ALB
    alb.ingress.kubernetes.io/group.name: {{ .Values.alb_group_name }}
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}]'
    # ArgoCD internal health check path
    alb.ingress.kubernetes.io/healthcheck-path: /healthz
    # Tells ALB to talk to ArgoCD via HTTP (since we'll use --insecure)
    alb.ingress.kubernetes.io/backend-protocol: HTTP
  labels:
    app.kubernetes.io/name: argocd-ingress
spec:
  ingressClassName: alb
  rules:
    - http:
        paths:
          - path: /argo-cd
            pathType: Prefix
            backend:
              service:
                name: argocd-server
                port:
                  number: 80