services:
  cloud-config-server:
    build:
      context: .
      dockerfile: cloud-config-server/Dockerfile
      args:
        MODULE_NAME: cloud-config-server
    image: cloud-config-server:latest
    deploy:
      replicas: 1
    ports:
      - "8888:8888" #this does not matter in k8 environment as the requets are routed via k8 service which listens on port 80
    environment:
      - SPRING_PROFILES_ACTIVE=dev,docker
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8888/actuator/health | grep UP || exit 1"]
      interval: 20s
      timeout: 5s
      retries: 3
      start_period: 20s
    networks:
      - micro
  gateway-service:
    build:
      context: .
      dockerfile: gateway-service/Dockerfile
      args:
        MODULE_NAME: gateway-service
    image: gateway-service:latest
    ports:
      - "8080:8080"  #this does not matter in k8 environment as the requets are routed via k8 service which listens on port 80
    environment:
      - SPRING_PROFILES_ACTIVE=dev,docker
    networks:
      - micro
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8888/actuator/health | grep UP || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 15s
  person-service:
    build:
      context: .
      dockerfile: person-service/Dockerfile
      args:
        MODULE_NAME: person-service
    image: person-service:latest
    ports:
      - "8081:8080"  #this does not matter in k8 environment as the requets are routed via k8 service which listens on port 80
    environment:
      - SPRING_PROFILES_ACTIVE=dev,docker
    depends_on:
      cloud-config-server:
        condition: service_healthy
    networks:
      - micro
  address-service:
    build:
      context: .
      dockerfile: address-service/Dockerfile
      args:
        MODULE_NAME: address-service
    image: address-service:latest
    deploy:
      replicas: 2
    # ports:
    #   - "8082:8080" #this does not matter in k8 environment as the requets are routed via k8 service which listens on port 80
    environment:
      - SPRING_PROFILES_ACTIVE=dev,docker
    depends_on:
      cloud-config-server:
        condition: service_healthy #wait for config-server to fully UP
    networks:
      - micro

#networks
networks:
  micro:
    driver: bridge