# service definitions for gateway-service, person-service, and address-service
{{- range $appName, $appConfig := .Values.apps }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $appName }} #DNS name
  namespace: {{ $.Values.namespace }}
  labels:
    discovery-enabled: {{ quote $appConfig.discovery.enabled }} #metadata label to be used by spring cloud kubernetes discovery client
spec:
  #type: NodePort #for exposing outside the cluster in minikube - for local development
  type: ClusterIP #default type - internal to the cluster
  selector:
    app: {{ $appName }} #should match the label in the pod template
  ports:
    - name: http
      protocol: TCP
      port: 80 #ingress talks to this port
      targetPort: 8080
      # nodePort: 30080 - enable this only if type is NodePort
{{ end }}