# spring:
#   application:
#     name: gateway-service

server:
  port: 8080

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    org.springframework.http.server.mvc: DEBUG
    org.springframework.web.mvc: DEBUG
    reactor.ipc.netty: DEBUG
    reactor.netty: DEBUG

spring:
  threads:
    virtual:
      enabled: true
  #configure Spring Cloud Gateway for MVC (not working currently)
  cloud:
    gateway:
      mvc:
        routes:
          - id: person_service
            uri: http://localhost:8081
            predicates:
              - Path=/person/**
            filters:
              - RewritePath=/person/(?<segment>.*), /${segment}

          - id: google_xyz
            uri: https://google.com
            predicates:
              - Path=/xyz

          - id: google_header_get
            uri: https://google.com
            predicates:
              - Method=GET
              - Header=x-google, .+

management.endpoints.web.exposure.include: gateway,health,info