# spring:
#   application:
#     name: gateway-service

server:
  port: 8080

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    org.springframework.http.server.mvc: DEBUG
    org.springframework.web.mvc: DEBUG
    reactor.ipc.netty: DEBUG
    reactor.netty: DEBUG

spring:
  threads:
    virtual:
      enabled: true
  #configure Spring Cloud Gateway for WebFlux (not working currently)
  # cloud:
  #   gateway:
  #     routes:
  #       - id: person_service
  #         uri: http://localhost:8081
  #         predicates:
  #           - Path=/person/**
  #         filters:
  #           - RewritePath=/person/(?<segment>.*), /${segment}

  #       - id: google_xyz
  #         uri: https://google.com
  #         predicates:
  #           - Path=/xyz

  #       - id: google_header_get
  #         uri: https://google.com
  #         predicates:
  #           - Method=GET
  #           - Header=x-google
  #configure Spring Cloud Gateway for MVC (not working currently)
  # cloud:
  #   gateway:
  #     mvc:
  #       routes:
  #         - id: person_service
  #           uri: http://localhost:8081
  #           predicates:
  #             - Path=/person/**
  #           filters:
  #             - RewritePath=/person/(?<segment>.*), /${segment}

  #         - id: google_xyz
  #           uri: https://google.com
  #           predicates:
  #             - Path=/xyz

  #         - id: google_header_get
  #           uri: https://google.com
  #           predicates:
  #             - Method=GET
  #             - Header=x-google

management.endpoints.web.exposure.include: '*'
---
#kubernets profile
spring:
  config.activate.on-profile: kubernetes
  cloud:
    kubernetes:
      loadbalancer:
        mode: SERVICE
      discovery:
        namespaces:
          - ${namespace:default} #namespace where the services are deployed
        service-labels:
          discovery-enabled: "true" #this points to the metadata labels of the target services
gateway.routes:
  person-service-uri: lb://person-service
  address-service-uri: lb://address-service
  config-server-uri: lb://cloud-config-server #config server service - just for testing purpose
---
#docker-compose profile
spring:
  config.activate.on-profile: docker
  # Use simple discovery client with static URIs for docker testing (since we are not using eureka or consul here)
  cloud:
    discovery:
      client:
        simple:
          instances:
            person-service:
              - uri: http://person-service:8080
            address-service:
              - uri: http://address-service:8080
            cloud-config-server:
              - uri: http://cloud-config-server:8888
gateway.routes:
  person-service-uri: lb://person-service
  address-service-uri: lb://address-service
  config-server-uri: lb://cloud-config-server #config server service - just for testing purpose
---
#local profile
spring:
  config.activate.on-profile: local
  # Use simple discovery client with static URIs for local testing
  cloud:
    discovery:
      client:
        simple:
          instances:
            person-service:
              - uri: http://localhost:8081
            address-service:
              - uri: http://localhost:8082
            cloud-config-server:
              - uri: http://localhost:8888
            
server:
  port: 8080
gateway.routes:
  person-service-uri: lb://person-service
  address-service-uri: lb://address-service
  config-server-uri: lb://cloud-config-server #config server service - just for testing purpose

  